<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.example.myfirstapp.FrontPage"
            android:label="@string/title_front_page" > 
            <intent-filter >
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.HOME" />
              <category android:name="android.intent.category.LAUNCHER" /> 
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.myfirstapp.MainPage"
            android:label="@string/title_activity_main_page" >
        </activity>
        <activity
            android:name="com.example.myfirstapp.SignupActivity"
            android:label="@string/title_signup_activity" >
        </activity>
        <activity
            android:name="com.example.myfirstapp.DefaultBookList"
            android:label="@string/title_default_book_list" >
        </activity>
        <activity
            android:name="com.example.myfirstapp.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.myfirstapp.SearchActivity"
            android:label="@string/title_search_activity" >
        </activity>
        
        <activity
            android:name="com.example.myfirstapp.AndroidTabLayoutActivity"
            android:label="@string/title_tab_layout" >
        </activity>
        <!-- <activity
            android:name="com.example.myfirstapp.JSONParser"
            android:label="@string/title_json_parser">
        </activity> -->
        <activity android:name=".BestsellerList" />
        <activity android:name=".LatestList" />
        <activity
            android:name="com.example.myfirstapp.SingleMenuItemActivity"
            android:label="@string/title_activity_single_menu_item" >
        </activity>
        
    </application>

</manifest>
