<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp"
    
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk android:minSdkVersion="11" 
              android:targetSdkVersion="19"/>
    
    <uses-permission android:name="com.example.myfirstapp.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.example.myfirstapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    
	<uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" >
    </uses-feature>

    <permission
        android:name="com.example.myfirstapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.example.myfirstapp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
 
    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gcm_icon"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <!-- 
        @style/AppTheme
        android:label="@string/app_name"
        android:icon="@drawable/top_icon"
        android:theme="@android:style/Theme.Light" -->
        
		<!-- Goolge Maps API Key -->
		
		
        <activity
            android:name="com.example.myfirstapp.PageZero"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:noHistory="true"> 
            <intent-filter >
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.HOME" />
              <category android:name="android.intent.category.LAUNCHER" /> 
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.myfirstapp.FrontPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow"> 
            <meta-data android:name="android.support.UI_OPTIONS"
           		android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.SignupPage"
            android:label="sign in"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow"> 
            <meta-data android:name="android.support.UI_OPTIONS"
           		android:value="splitActionBarWhenNarrow" />
        </activity>
        
        <activity
            android:name="com.example.myfirstapp.MainPage"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:label="Sign in"
            android:uiOptions="splitActionBarWhenNarrow"> 
            <meta-data android:name="android.support.UI_OPTIONS"
           		android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.MapListView"
            android:label="Store location"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.example.myfirstapp.SearchPage"
            android:label="Search Title/Author/ISBN"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:uiOptions="splitActionBarWhenNarrow"> 
            <meta-data android:name="android.support.UI_OPTIONS"
           		android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.HelpActivity"
            android:label="About Justbooksclc" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.example.myfirstapp.DrawerActivity"
            android:label="Justbooksclc" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.example.myfirstapp.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="Search Title/Author/ISBN"
            android:uiOptions="splitActionBarWhenNarrow"> 
            <meta-data android:name="android.support.UI_OPTIONS"
           		android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.AndroidTabLayoutActivity"
            android:label="My book list"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow"> 
            <meta-data android:name="android.support.UI_OPTIONS"
           		android:value="splitActionBarWhenNarrow" />
        </activity>
        <!-- <activity
            android:name="com.example.myfirstapp.JSONParser"
            android:label="@string/title_json_parser">
        </activity> -->
        <activity android:name=".BestsellerList" />
        <activity android:name=".LatestList" />
        <activity
            android:name="com.example.myfirstapp.SingleMenuItemActivity"
            android:label="Book"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow"> 
            <meta-data android:name="android.support.UI_OPTIONS"
           		android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="com.example.myfirstapp.MyMap"
            android:label="Stores" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.example.myfirstapp.SignInWaitingActivity"
            android:label="waiting for authentication" 
            android:screenOrientation="portrait"
            android:noHistory="true">
        </activity>

		<activity
            android:name=".RegisterActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
		</activity>
		
		CallCustomerCare
		<activity
	        android:name="com.example.myfirstapp.CallCustomerCare"
	        android:label="@string/app_name" 
            android:screenOrientation="portrait">
		</activity>
		<activity
	        android:name="com.example.myfirstapp.GCMMainActivity"
	        android:configChanges="orientation|keyboardHidden"
	        android:label="@string/app_name" 
            android:screenOrientation="portrait">
	    </activity>
	
	    <receiver
	        android:name=".GcmBroadcastReceiver"
	        android:permission="com.google.android.c2dm.permission.SEND" >
	        <intent-filter>
	            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
	            <action android:name="com.example.myfirstapp.c2dm.intent.REGISTRATION" />
	
	            <category android:name="com.example.myfirstapp" />
	        </intent-filter>
	    </receiver>
        <receiver android:name="com.example.myfirstapp.SmsReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
	    <service android:name=".GCMNotificationIntentService" />
	    
		<uses-library android:name="com.google.android.maps"/>
		
	    <meta-data android:name="com.google.android.gms.version"
           		   android:value="@integer/google_play_services_version" />
	    <meta-data android:name="com.google.android.maps.v2.API_KEY"
	   			   android:value="AIzaSyAv46DeUEmgEflCebkck8pIPnsTYgbJccI" />  
	   		  
    </application>

</manifest>
